## len() function
<hr>
The len() function returns the number of items in an object. When the object is a string, the len() function returns the number of characters in the string.

In [2]:
len_list = ["Hi!", "Let's see my python portfolio", "Part", "-", 2]

print("Display the len_list")
print(len_list)

Display the len_list
['Hi!', "Let's see my python portfolio", 'Part', '-', 2]

In [3]:
len(len_list)

5

In [4]:
len_set = {"Hi!", "Let's see my python portfolio", "Part", "-", 2}

print("Display the len_set")
print(len_set)

Display the len_set
{'-', 2, 'Part', 'Hi!', "Let's see my python portfolio"}

In [5]:
len(len_set)

5

In [6]:
len_string = "Hi! Let's see my python portfolio part - 2"

print("Display len_string")
print(len_string)

Display len_string
Hi! Let's see my python portfolio part - 2

In [7]:
len(len_string)

42

<br>

## min() function
<hr>
Return item with the lowest value.

In [8]:
# Looking min value in List
x = [5, 7, 10, 74, 2, 10, 3, 89, 35]

min(x)

2

In [9]:
x = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]

min(x)

1

min() function can also use to looking item that contain string value.

In [10]:
y = "pyhton"

min(y)

'h'

In [11]:
# if there is a capital in a variable, so the capital will be counted first
y = "Python"

min(y)

'P'

In [12]:
z = [5, 7, 10, 74, 2, 10, 3, 89, 35, 'Python']

min(z)

TypeError: '<' not supported between instances of 'str' and 'int'

<i>Python can't execute to looking min value if the variable contain string and int, even on list. Min only use with same data type. </i>

<br>

## max() function
<hr>
Return item with the highest value.

In [ ]:
# Looking min value in List
x = [5, 7, 10, 74, 2, 10, 3, 89, 35]

max(x)

In [ ]:
x = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]

max(x)

max() function can also use to looking item that contain string value.

In [ ]:
y = "pyhton"

max(y)

In [ ]:
y = "Python"

max(y)

In [ ]:
z = [5, 7, 10, 74, 2, 10, 3, 89, 35, 'Python']

max(z)

<i>Python can't execute to looking max value if the variable contain string and int, even on list. Max only use with same data type. </i>

<br>

## Merge
<hr>
Merge in Python use to combine value together

In [ ]:
a = [1, 2, 3, 4]
b = [5, 6, 7, 8]
c = ["MyEduSolve", "Studi Independen", "Batch 3"]
d = [True, 2+6j, 9, "Python"]

In [ ]:
a + b

In [ ]:
a + c

In [ ]:
a + b + d

<br>

## Replication
<hr>
Replication used to repeat value in object by amount of times equivalent to the integer value.

In [ ]:
a = [1, 2, 3, 4]

In [ ]:
b = a * 2

print(b)

In [ ]:
b * 2

<br>

## range() function
<hr>
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number.

In [ ]:
for x in range(8):
    print(x)

In [ ]:
for x in range(8):
    print("Bilangan ke -", x + 1)

In [ ]:
for x in range(1,9):
    print("Bilangan ke -", x)

In [ ]:
for x in range(2, 11, 2):
    print(x)

In [ ]:
for x in range(1, 21, 2):
    print(-x)

<br>

## in function
<hr>
This operator is used to check whether an element is present in the passed list or not. Returns true if the element is present in the list otherwise returns false.

In [ ]:
a = [1, 2, 3, 4]

4 in a

In [ ]:
weekend = ["Saturday", "Sunday"]

In [ ]:
"Monday" in weekend

In [ ]:
"Saturday" in weekend

In [ ]:
indonesia = ["Sumatra", "Jawa", "Sulawesi"]

In [ ]:
"Jawa" in indonesia

In [ ]:
"Sumatra" and "Sulawesi" in indonesia

In [ ]:
"Sentosa Island" in indonesia

<br>

## not in function
<hr>
This operator is used to check whether an element is not present in the passed list or not. Returns true if the element is not present in the list otherwise returns false.

In [ ]:
a = [1, 2, 3, 4]

4 not in a

In [ ]:
weekend = ["Saturday", "Sunday"]

In [ ]:
"Monday" not in weekend

In [ ]:
"Saturday" not in weekend

In [ ]:
indonesia = ["Sumatra", "Jawa", "Sulawesi"]

In [ ]:
"Jawa" not in indonesia

In [ ]:
"Sumatra" and "Sulawesi" in indonesia

In [ ]:
"Sentosa Island" not in indonesia

<br>

## Assign Value in Multiple Variable
<hr>

In [ ]:
date = [17, "Agustus", 1945]

In [ ]:
tanggal = date[0]

print(tanggal)

In [ ]:
bulan = date[1]

print(bulan)

In [ ]:
tahun = date[2]

print(bulan)

In [ ]:
tanggal, bulan, tahun = date

In [ ]:
tanggal

In [ ]:
bulan

In [ ]:
tahun

In [ ]:
jam, tanggal, bulan, tahun = date

<br>

## sort() function
<hr>
The sorted() function returns a sorted list ascending by default

In [ ]:
a = [40, 20, 30, 10, 50]

print(a)

In [ ]:
a.sort()

print(a)

In [ ]:
fruit = ["Apple", "Cherry", "Banana", "Kiwi"]

print(fruit)

In [ ]:
fruit.sort()

print(fruit)

In [ ]:
# The reverse() method reverses the elements of the list.
fruit.sort(reverse = True)

print(fruit)

In [ ]:
fruit = ["Apple", "cherry", "banana", "Kiwi"]

print(fruit)

In [ ]:
fruit.sort()

print(fruit)

In [ ]:
fruit1 = ["Apple", "cherry", "banana", "Kiwi"]

fruit1.sort(key=str.lower)

print(fruit1)